/* Mono45 Headline Light
font-family: "mono45-headline", monospace;
font-weight: 300;
font-style: normal;
Mono45 Headline Bold
font-family: "mono45-headline", monospace;
font-weight: 700;
font-style: normal; */

body{
    margin: 0;
    background-color: black;
}

video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    min-width: 100%;
    min-height: 100vh;
    filter: grayscale(20%) brightness(0.6);
}

div{
    position: absolute;
    z-index: 1;
}

p{
    margin: 0;
    padding: 20px;
    color: white;
    font-family: "mono45-headline", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 36pt;
    max-width: 75vw;
}

p b{

    font-weight: 500;

}

audio{
    position: absolute;
    top: 5px;
    right: 50px;

}


#instructions{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: black;
    font-family: "mono45-headline", monospace;
    font-weight: 300;
    font-size: 18pt;
}

.fa-compact-disc{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(4);
    z-index: 1;
    color: rgb(255, 121, 121);
    animation: spin 1s ease-in-out infinite;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

@keyframes spin{
    0%{transform:translate(-50%,-50%) scale(4) rotate(0deg)}
    100%{transform: translate(-50%,-50%) scale(4) rotate(360deg)}
}