/* Maiola Regular
font-family: "maiola", serif;
font-weight: 400;
font-style: normal;

Maiola Italic
font-family: "maiola", serif;
font-weight: 400;
font-style: italic;

Maiola Bold
font-family: "maiola", serif;
font-weight: 700;
font-style: normal;

Maiola Bold Italic
font-family: "maiola", serif;
font-weight: 700;
font-style: italic; */

body{
    font-family: "maiola", serif;
    color: rgb(30, 27, 25);
}

main{
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border: solid 1.5px rgb(30, 27, 25);
}

h1{
    font-family: "maiola", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48pt;
    line-height: 48pt;
    border-style: none none solid none;
    border-width: 1.5px;
    border-color: rgb(30, 27, 25);
}

#images{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 10px;
}

img{
    width: 100%;
}

p{
    font-family: "maiola", serif;
    font-style: normal;
    font-size: 15pt;
    line-height: 24pt;
    max-width: 600px;
}

section{
    margin-block: 100px;
}