body{
    background-color: rgb(249, 247, 244);
}

main{
    max-width: 900px;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    font-family: "maiola", serif;
    color: rgb(30, 27, 25);
}

h1{
    font-size: 48pt;
    line-height: 48pt;
    border-style: none none solid none;
    border-width: 1.5px;
    border-color: rgb(30, 27, 25);
}

p{
    font-size: 14pt;
    line-height: 24pt;
    max-width: 600px;
}