:root {
    --page-height: 100vh;
 }

body{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#box{
    position: relative;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Bachelor%27s_button%2C_Basket_flower%2C_Boutonniere_flower%2C_Cornflower_-_3.jpg/640px-Bachelor%27s_button%2C_Basket_flower%2C_Boutonniere_flower%2C_Cornflower_-_3.jpg);
    background-size: cover;
    width: 2000px;
    height: 2000px;
}

#something{
    width: 20px;
    height: 20px;
    background-color: red;
}